.wrapper {
  background: #13181e;
  position: relative;
  z-index: 1;
}
.header {
  display: flex;
  padding: 40px 64px;
}
.headerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  width: 160px;
  height: 60px;
  margin-right: 20px;
}
.headerMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 40px;
}
.headerLinks a {
  color: white;
  padding: 16px;
  display: inline-block;
  font-family: Oxygen;
}
.headerMenuIcon {
  float: right;
  position: absolute;
  top: 44px;
  right: 44px;
  display: none;
}
.row {
  max-width: 900px;
  text-align: center;
}
.vl {
  margin-top: 10px;
  opacity: 0.3;
  border-left: 1px solid #e5e5e5;
  height: 20px;
}
.blob1 {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob2 {
  position: absolute;
  right: 0;
  top: 4vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob3 {
  position: absolute;
  right: 0vw;
  top: 25vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob4 {
  position: absolute;
  right: 0vw;
  top: 90vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob5 {
  position: absolute;
  right: 0;
  top: 224.8vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob6 {
  position: absolute;
  left: 0;
  top: 224.5vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob7{
  position: absolute;
  z-index: -1;
  left:0;
  top: 1075px;
  width: 100%;
  height: auto;
}
.coin1{
  position: absolute;
  left: 22vw;
  top: 42.5vw;
  pointer-events: none;
  z-index: -1;
}
.coin2{
  position: absolute;
  left: 3vw;
  top: 56vw;
  pointer-events: none;
  z-index: -1;
}
.coin3{
  position: absolute;
  left: 19vw;
  top: 68vw;
  pointer-events: none;
  z-index: -1;
}
.coin4{
  position: absolute;
  left: 0vw;
  top: 72vw;
  pointer-events: none;
  z-index: -1;
}
.coin5{
  position: absolute;
  right: 3vw;
  top: 53vw;
  pointer-events: none;
  z-index: -1;
}
.coin6{
  position: absolute;
  right:0vw;
  top: 68vw;
  pointer-events: none;
  z-index: -1;
}
.coin7{
  position: absolute;
  right: 23vw;
  top: 77vw;
  pointer-events: none;
  z-index: -1;
}
.coin8{
  position: absolute;
  left: 2vw;
  top: 96vw;
  pointer-events: none;
  z-index: -1;
}
.coin9{
  position: absolute;
  left: 21vw;
  top: 102vw;
  pointer-events: none;
  z-index: -1;
}
.coin10{
  position: absolute;
  right: 28vw;
  top: 100vw;
  pointer-events: none;
  z-index: -1;
}
.coin11{
  position: absolute;
  right: 14vw;
  top: 108vw;
  pointer-events: none;
  z-index: -1;
}
.coin11b{
  position: absolute;
  right: 15.5vw;
  top: 109.4vw;
  pointer-events: none;
  z-index: -1;
}
.coin12{
  position: absolute;
  right: 23vw;
  top: 150vw;
  pointer-events: none;
  z-index: -1;
}
.coin13{
  position: absolute;
  left: 17vw;
  top: 159vw;
  pointer-events: none;
  z-index: -1;
}
.coin14{
  position: absolute;
  right: 7vw;
  top: 180vw;
  pointer-events: none;
  z-index: -1;
}
.coin15{
  position: absolute;
  left: 10vw;
  top: 200vw;
  pointer-events: none;
  z-index: -1;
}
.coin16{
  position: absolute;
  right: 5vw;
  top: 214vw;
  pointer-events: none;
  z-index: -1;
}
.coin17{
  position: absolute;
  right: 0vw;
  top: 230vw;
  pointer-events: none;
  z-index: -1;
}
.coin18{
  position: absolute;
  right: 25vw;
  top: 234vw;
  pointer-events: none;
  z-index: -1;
}
.coin19{
  position: absolute;
  left: 0vw;
  top: 220vw;
  pointer-events: none;
  z-index: -1;
}
.title {
  align-items: center;
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  width:447px;
}
.title2 {
  align-items: center;
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  width:447px;
}
.title3 {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.title4 {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.5vw;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.content {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width:421px;
}
.registerButton{
  background-color:  #2F995A;
  height: 40px;
  width:220px;
}
.topButtons {
margin-top: 4.5vw;
text-align: left;
}
.orgCard{
margin-top: 1vw;
margin-bottom: 5vw;
}
.card {
  width: 311px;
  align-items: left;
  margin-top: 0.5vw;
  margin-left: 0.7vw;
  margin-bottom: 1vw;
}
.cardTitle {
  font-size: 18px;
  letter-spacing: 0.368571px;
  line-height: 25.2px;
  font-weight:700;
}
.cardBody {
  font-size: 13px;
  font-weight: 400;
  width:256px;
}
.cardImage {
  width: 41px;
  height: 57.66px;
  margin-top: 1vw;
}
.card2{
  width:270px;
}
.image2 {
  margin-top: 4.2vw;
  height: 448.5px;
  width: 940px;
}
.section3{
  margin-top:16vw;
  margin-bottom:16vw;
  margin-left: auto;
  width:82%;
}
.section3Content{
width:569px;
height:185px;
font-size: 32px;
font-weight: 700;
line-height: 114.27%;
letter-spacing: -0.02em;
}
.section3End{
  margin-top: 1vw;
}
.section3Name{
  margin-top: 0.5vw;
  font-weight: 700;
  font-size: 18px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.section3Designation{
  margin-top: 0.5vw;
  font-weight: 400;
  font-size: 18px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.section4{
  margin-top: 3vw;
}
.margin{
  margin-top: 7vw;
}
.section5{
  position:relative;
  margin-bottom: 0.5vw;
}
.box{
 background: linear-gradient(to right, #B5C7F8, #B3C5F4, transparent);
 width: 940px;
 height: 259px;
 opacity: 0.1;
}
.section5Title{
  padding-right :3.5vw;
  color: #ffffff;
  font-weight: 700;
  font-size: 34.6038px;
  line-height: 114.27%;
}
.section5Content{
  width: 370px;
  font-weight: 400;
  font-size: 14px;
  line-height: 137.27%;
}
.section5BodyTitle{
  font-weight: 700;
  font-size: 14px;
  line-height: 114.27%;
  margin-bottom: 0.5vw;
}
.section5Body{
  padding:2vw;
}
.vl2{
  border:0;
  border-left: 5px solid #792BAB;
  height: 269px;
  margin-left:1vw;
  margin-right: 2vw;
}
.vl3{
  border:0;
  border-left: 5px solid #792BAB;
  height: 259px;
  margin-left:1vw;
  margin-right: 2vw;
}
.vlCircle {
  margin-right: 1vw;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #792BAB;
}
.endHeadline {
  margin-top: 7vw;
  font-weight: 700;
  font-size: 18px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  opacity:0.5;
  align-items: center;
  text-align: center;
  margin-bottom: 3.5vw;
}
.endCircle  {
  width: 64px;
  height: 64px;
  background-color: #324051;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 1.5vw;
}
.endCircleImage {
  position: absolute;
  top: 35%;
  left: 35%;
}
.endQuote {
  width: 785px;
  height: 138px;
  font-weight: 400;
  font-size: 40px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.endQuoteContent {
 margin-top: 1vw;
}
.endQuoteName {
  margin-top:0.5vw;
  font-weight: 700;
  font-size: 18px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  margin-right: 1vw;
}
.endQuoteDesig{
  margin-top: 0.5vw;
  margin-left: 1vw;
  font-weight: 400;
  font-size: 18px;
  line-height: 114.27%;
  align-items: center;
  letter-spacing: -0.02em;
}
.endQuoteContent  {
  margin-bottom: 5vw;
}
.linksBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.linksBox {
  width: 270px;
  height: 56px;
  border: 2px solid #38195E;
  box-sizing: border-box;
  padding: 7px 7px;
  border-radius: 6px;
}
.links{
  margin: 5px 30px;
}
.footer {
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  height: 160px;
  width: 240px;
}
.footerLinks {
  display: flex;
  justify-content: space-around;
}
.footerLinks a {
  border-left: 2px solid #91a3b4;
  color: white;
  padding: 0 16px;
  margin-right: 16px;
}

@media (max-width: 1800px) {
  .card {
    margin-top: 1vw;
  }
  .orgCard{
    margin-top: 5vw;
  }
  .cardBody {
    margin-top: 0.5vw;
  }
  .cardImage {
    margin-top: 1.2vw;
  }
  .image2 {
    margin-top: 4.8vw;
  }
  .blob5{
    top:274vw;
  }
  .blob6{
    top: 273.3vw;
  }
}
@media (max-width: 1024px) {
  .headerMenuIcon {
    display: block;
  }
  .headerMenu {
    height: auto;
    border-bottom: none;
  }
  .header {
    display: block;
    padding: 40px 44px;
  }
  .row {
    text-align: left;
    padding: 0 44px;
    width: 100%;
  }
  .title3 {
    display: flex;
    margin-top: 80px;
    font-size: 64px;
    font-weight: 700;
  }
  .title4 {
    display: flex;
    font-size: 64px;
    font-weight: 700;
  }
  .orgCard{
    margin-top: 9vw;
    }
  .card {
    display: flex;
    flex-direction: row;
    width: 180vw;
    margin-right: 10vw;
  }
  .cardTitle {
    margin-left: 5px;
  }
  .cardBody {
    margin-left: 5px;
  }
  .cardImage {
    width: 100px;
    height: 40px;
    margin-top: 1vw;
  }
  .cardImage2 {
    width: 100px;
    height: 40px;
    margin-top: 1.3vw;
  }
  .cardImage3 {
    width: 100px;
    height: 40px;
    margin-top: 1.7vw;
  }
  .image2 {
    margin-top: 8vw;
    height: 400px;
    width: 800px;
  }
  .footer {
    margin-top: 40px;
    padding: 50px;
    flex-direction: column;
  }
  .footerLinks {
    margin-bottom: 50px;
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .wrapper {
    background: #13181e;
    position: relative;
    z-index: 1;
  }
  .card {
    width: 90vw;
    margin-right: 0vw;
  }
  .cardTitle {
    font-size: 17px;
    font-weight: 400;
  }
  .cardBody {
    font-size: 12px;
    margin-right: 0px;
  }
  .cardImage {
    width: 30px;
    height: 40px;
  }
  .cardImage2 {
    width: 30px;
    height: 40px;
  }
  .cardImage3 {
    width: 30px;
    height: 40px;
  }
  .title {
    margin-top: 10vw;
    text-align: center;
    font-size: 40px;
  }
  .title2 {
    text-align: center;
    font-size: 40px;
  }
  .title3 {
    margin-top: 10vw;
    text-align: center;
    font-size: 40px;
  }
  .title4 {
    text-align: center;
    font-size: 40px;
  }
  .content {
    text-align: center;
    font-size: 14px;
  }
  .image2 {
    flex-direction: row;
    margin-top: 1vw;
    width: 350px;
    height: 300px;
    margin-left: 0vw;
  }
  .blob1,
  .blob2,
  .blob3,
  .blob4,
  .blob5,
  .blob6 {
    display: none;
  }
  .footer {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .footerLinks {
    margin-bottom: 24px;
    flex-direction: column;
  }
  .footerLinks a {
    margin-bottom: 24px;
  }
}
