.wrapper {
  background: #13181e;
  position: relative;
  z-index: 1;
}
.header {
  display: flex;
  padding: 40px 64px;
}
.headerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  width: 160px;
  height: 60px;
  margin-right: 20px;
}
.headerMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 40px;
}
.headerLinks a {
  color: white;
  padding: 16px;
  display: inline-block;
  font-family: Oxygen;
}
.headerMenuIcon {
  float: right;
  position: absolute;
  top: 44px;
  right: 44px;
  display: none;
}
.row {
  max-width: 900px;
  text-align: center;
}
.vl {
  margin-top: 10px;
  opacity: 0.3;
  border-left: 1px solid #e5e5e5;
  height: 20px;
}
.blob1 {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob2 {
  position: absolute;
  right: 0;
  top: 4vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob3 {
  position: absolute;
  right: 0vw;
  top: 25vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob4 {
  position: absolute;
  right: 0vw;
  top: 90vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob5 {
  position: absolute;
  right: 0;
  top: 224.8vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob6 {
  position: absolute;
  left: 0;
  top: 224.5vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob7{
  position: absolute;
  z-index: -1;
  left:0;
  top: 1210px;
  width: 100%;
  height: auto;
}
.coin1{
  position: absolute;
  left: 22vw;
  top: 42.5vw;
  pointer-events: none;
  z-index: -1;
}
.coin2{
  position: absolute;
  left: 3vw;
  top: 56vw;
  pointer-events: none;
  z-index: -1;
}
.coin3{
  position: absolute;
  left: 19vw;
  top: 71vw;
  pointer-events: none;
  z-index: -1;
}
.coin4{
  position: absolute;
  left: 0vw;
  top: 73vw;
  pointer-events: none;
  z-index: -1;
}
.coin5{
  position: absolute;
  right: 3vw;
  top: 53vw;
  pointer-events: none;
  z-index: -1;
}
.coin6{
  position: absolute;
  right:0vw;
  top: 68vw;
  pointer-events: none;
  z-index: -1;
}
.coin7{
  position: absolute;
  right: 19vw;
  top: 82vw;
  pointer-events: none;
  z-index: -1;
}
.coin8{
  position: absolute;
  left: 2vw;
  top: 106vw;
  pointer-events: none;
  z-index: -1;
}
.coin9{
  position: absolute;
  left: 19vw;
  top: 111vw;
  pointer-events: none;
  z-index: -1;
}
.coin10{
  position: absolute;
  right: 23vw;
  top: 107vw;
  pointer-events: none;
  z-index: -1;
}
.coin11{
  position: absolute;
  right: 8vw;
  top: 119vw;
  pointer-events: none;
  z-index: -1;
}
.coin11b{
  position: absolute;
  right: 9.5vw;
  top: 120.5vw;
  pointer-events: none;
  z-index: -1;
}
.coin12{
  position: absolute;
  right: 23vw;
  top: 150vw;
  pointer-events: none;
  z-index: -1;
}
.coin13{
  position: absolute;
  left: 17vw;
  top: 159vw;
  pointer-events: none;
  z-index: -1;
}
.coin14{
  position: absolute;
  right: 7vw;
  top: 180vw;
  pointer-events: none;
  z-index: -1;
}
.coin15{
  position: absolute;
  left: 10vw;
  top: 200vw;
  pointer-events: none;
  z-index: -1;
}
.coin16{
  position: absolute;
  right: 5vw;
  top: 214vw;
  pointer-events: none;
  z-index: -1;
}
.coin17{
  position: absolute;
  right: 0vw;
  top: 230vw;
  pointer-events: none;
  z-index: -1;
}
.coin18{
  position: absolute;
  right: 25vw;
  top: 234vw;
  pointer-events: none;
  z-index: -1;
}
.coin19{
  position: absolute;
  left: 0vw;
  top: 220vw;
  pointer-events: none;
  z-index: -1;
}
.title {
  align-items: center;
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  width:447px;
}
.title2 {
  align-items: center;
  text-align: left;
  font-size: 48px;
  font-weight: 700;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  width:447px;
}
.title3 {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.title4 {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.5vw;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.content {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width:421px;
}
.registerButton{
  background-color:  #2F995A;
  height: 40px;
  width:220px;
}
.topButtons {
margin-top: 4.5vw;
text-align: left;
}
.orgCard{
margin-top: 1vw;
margin-bottom: 5vw;
}
.card {
  width: 311px;
  align-items: left;
  margin-top: 0.5vw;
  margin-left: 0.7vw;
  margin-bottom: 1vw;
}
.cardTitle {
  font-size: 18px;
  letter-spacing: 0.368571px;
  line-height: 25.2px;
  font-weight:700;
}
.cardBody {
  font-size: 13px;
  font-weight: 400;
  width:256px;
}
.cardImage {
  width: 41px;
  height: 57.66px;
  margin-top: 1vw;
}
.card2{
  width:270px;
}
.image2 {
  margin-top: 4.2vw;
  height: 448.5px;
  width: 940px;
}
.section3{
  margin-top:16vw;
  margin-bottom:16vw;
  margin-left: auto;
  width:82%;
}
.section3Content{
width:569px;
height:185px;
font-size: 32px;
font-weight: 700;
line-height: 114.27%;
letter-spacing: -0.02em;
}
.section3End{
  margin-top: 1vw;
}
.section3Name{
  margin-top: 0.5vw;
  font-weight: 700;
  font-size: 18px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.section3Designation{
  margin-top: 0.5vw;
  font-weight: 400;
  font-size: 18px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.section4{
  margin-top: 3vw;
}
.margin{
  margin-top: 7vw;
}
.section5{
  position:relative;
  margin-bottom: 0.5vw;
}
.box{
 background: linear-gradient(to right, #B5C7F8, #B3C5F4, transparent);
 width: 940px;
 height: 259px;
 opacity: 0.1;
}
.section5Title{
  padding-right :3.5vw;
  color: #ffffff;
  font-weight: 700;
  font-size: 34.6038px;
  line-height: 114.27%;
}
.section5Content{
  width: 370px;
  font-weight: 400;
  font-size: 14px;
  line-height: 137.27%;
}
.section5BodyTitle{
  font-weight: 700;
  font-size: 14px;
  line-height: 114.27%;
  margin-bottom: 0.5vw;
}
.section5Body{
  padding:2vw;
}
.vl2{
  border:0;
  border-left: 5px solid #792BAB;
  height: 269px;
  margin-left:1vw;
  margin-right: 2vw;
}
.vl3{
  border:0;
  border-left: 5px solid #792BAB;
  height: 259px;
  margin-left:1vw;
  margin-right: 2vw;
}
.vlCircle {
  margin-right: 1vw;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #792BAB;
}
.endHeadline {
  margin-top: 7vw;
  font-weight: 700;
  font-size: 18px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  opacity:0.5;
  align-items: center;
  text-align: center;
  margin-bottom: 3.5vw;
}
.endCircle  {
  width: 64px;
  height: 64px;
  background-color: #324051;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-bottom: 1.5vw;
}
.endCircleImage {
  position: absolute;
  top: 35%;
  left: 35%;
}
.endQuote {
  width: 785px;
  height: 138px;
  font-weight: 400;
  font-size: 40px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
}
.endQuoteContent {
 margin-top: 1vw;
}
.endQuoteName {
  margin-top:0.5vw;
  font-weight: 700;
  font-size: 18px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  margin-right: 1vw;
}
.endQuoteDesig{
  margin-top: 0.5vw;
  margin-left: 1vw;
  font-weight: 400;
  font-size: 18px;
  line-height: 114.27%;
  align-items: center;
  letter-spacing: -0.02em;
}
.endQuoteContent  {
  margin-bottom: 5vw;
}
.linksBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.linksBox {
  width: 270px;
  height: 56px;
  border: 2px solid #38195E;
  box-sizing: border-box;
  padding: 7px 7px;
  border-radius: 6px;
}
.links{
  margin: 5px 30px;
}
.footer {
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  height: 160px;
  width: 240px;
}
.footerLinks {
  display: flex;
  justify-content: space-around;
}
.footerLinks a {
  border-left: 2px solid #91a3b4;
  color: white;
  padding: 0 16px;
  margin-right: 16px;
}

@media (max-width: 1800px) {
  .card {
    margin-top: 1vw;
  }
  .orgCard{
    margin-top: 5vw;
  }
  .cardImage {
    margin-top: 1.2vw;
  }
  .image2 {
    margin-top: 8vw;
  }
  .title3{
    margin-top:4vw;
  }
  .section5{
    padding-left:2vw;
  }
  .blob5{
    top:288vw;
  }
  .blob6{
    top: 288vw;
  }
  .blob7{
    top:89vw;
  }
  .coin1{
    top:62vw;
    left: 13vw;
  }
  .coin2{
    top:80vw;
    left: 2vw;
  }
  .coin3{
    top:95vw;
    left: 9vw;
  }
  .coin4{
    top:100vw;
    left: 0vw;
  }
  .coin5{
    top:77vw;
    right: 2vw;
  }
  .coin6{
    top:94vw;
    right: 0vw;
  }
  .coin7{
    top:103vw;
    right: 18vw;
  }
  .coin8{
    top:138vw;
    left: 2vw;
  }
  .coin9{
    top:145vw;
    left: 12vw;
  }
  .coin10{
    top:130vw;
    right: 20vw;
  }
  .coin11{
    top:139vw;
    right: 9vw;
  }
  .coin11b{
    top:141vw;
    right: 11vw;
  }
  .coin12{
    top:196vw;
    right: 16vw;
  }
  .coin13{
    top:209vw;
    left: 7vw;
  }
  .coin14{
    top:235vw;
    right: 5vw;
  }
  .coin15{
    top:264vw;
    left: 1vw;
  }
  .coin16{
    top: 280vw;
    right: 5vw;
  }
  .coin17{
    top:300vw;
    right: 0vw;
  }
  .coin18{
    top:308vw;
    right: 15vw;
  }
  .coin19{
    top:290vw;
    right: 11vw;
  }
}
@media (max-width: 1024px) {
  .blob1,.blob2,.blob3,.blob4{
    opacity:0.3;
  }
  .blob5,.blob6{
   display:none;
  }
	.coin1,.coin2,.coin3,.coin4,.coin5,.coin6,.coin7,.coin8,.coin9,.coin10,.coin11,.coin11b,.coin12,.coin13,.coin14,.coin15,.coin16,.coin17,.coin18,.coin19{
		opacity:0.3
	}
  .headerMenuIcon {
    display: block;
  }
  .headerMenu {
    height: auto;
    border-bottom: none;
  }
  .header {
    display: block;
    padding: 40px 44px;
  }
  .row {
    text-align: left;
    padding: 0 44px;
    width: 100%;
  }
	.midScreen{
		flex-direction: column;
	}
	.title{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		width:100%;
	}
	.title2	{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		width:100%;
	}
	.content {
		padding-left: 50px;
		padding-right: 50px;
		width:100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
    display: flex;
	}
	.topButtons {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
    display: flex;
	}
	.title2{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin-right: 0;
	}
  .title3 {
    display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
    margin-top: 80px;
    font-size: 32px;
    font-weight: 700;
  }
  .title4 {
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
    display: flex;
		margin-bottom: 8vw;

  }
	.orgCardWrapper {
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
  .orgCard{
    margin-top: 9vw;
		gap: 20px;
		width:600px;
  }
  .card {
    display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width:70vw;
		margin-bottom: 3vw;
  }
	.card2{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width:100%;
		margin-bottom: 3vw;
	}
  .cardTitle {
    margin-left: 5px;
		font-size: 24px;
  }
  .cardBody {
    margin-left: 5px;
		font-size: 16px;
		width:500px;
  }
  .cardImage {
    width: 100px;
    height: 40px;
    margin-top: 1vw;
		margin-left: 14vw;
  }
  .image2 {
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
    margin-top: 8vw;
		margin-bottom: 8vw;
    height: 400px;
    width: 800px;
  }
	.midScreenImage{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.section3 {
		margin-top: 9vw;
		margin-bottom: 0vw;
	}
	.section5 {
		padding-left:0px;
		width: 700px;
	}
	.section5Title {
		margin-right: 5vw;
		margin-left: 5vw;
		width:170px;
	}
	.section5Body {
		width:100px;
	}
	.box {
		width:850px;
	}
	.endQuote {
		width:500px;
		height:300px;
	}
	.linksBoxContainer	{
		margin-right: 0;
		margin: 2vw;
	}
  .footer {
    margin-top: 40px;
    padding: 50px;
    flex-direction: column;
  }
  .footerLinks {
    margin-bottom: 50px;
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .wrapper {
    background: #13181e;
    position: relative;
    z-index: 1;
  }
  .title {
    margin-top: 10vw;
    text-align: center;
    font-size: 32px;
  }
  .title2 {
    text-align: center;
    font-size: 32px;
  }
  .title3 {
    margin-top: 10vw;
    text-align: center;
    font-size: 28px;
  }
  .title4 {
    text-align: center;
    font-size: 32px;
  }
	.topButtons {
		width:100vw;
	}
  .content {
    text-align: center;
    font-size: 14px;
  }
	.orgCardWrapper {
		margin-left: 3.2vw;
		width:94vw;
	}
	.orgCard {
		gap: 10px 10px;
	}
  .image2 {
    flex-direction: row;
    margin-top: 1vw;
    width: 350px;
    height: 300px;
		margin-left: 3vw;
  }
	.card {
		margin-left: 0.5vw;
		margin-bottom: 4vw;
		width: 300vw;
	}
	.card2 {
		margin-left: 0.5vw;
		margin-bottom: 4vw;
		width: 300vw;
	}
	.cardImage {
		margin-top: 3vw;
		margin-left: 3vw;
	}
	.cardTitle {
		font-size: 14px;
	}
	.cardBody {
		font-size: 10px;
		width:100%;
	}
	.section3 {
		margin-top: 20vw;
		margin-bottom: 10vw;
		margin-left: 2vw;
	}
	.section3Content {
		margin-left: 5vw;
		width:89vw;
		font-size: 24px;
	}
	.section3End {
		margin-left: 5vw;
	}
	.section3Name {
		font-size: 15px;
		margin-top: 2.5vw;
	}
	.section3Designation {
		font-size: 15px;
		margin-top: 3vw;
	}
	.section5 {
		width:300px;
	}
	.box{
		width:100px;
	}
	.section5Title {
		font-size: 20px;
		margin-right: 0;
		width:100px;
	}
	.section5Body{
		width:200px;
	}
	.section5BodyTitle	{
		width: 200px;
	}
	.section5Content{
		width:230px;
		font-size: 10px;
	}
	.box{ 
		width:380px;
	}
	.endHeadline {
		margin-top: 20vw;
		width:370px;
	}
	.endQuote {
		width:300px;
		height:200px;
		font-size: 24px;
	}
	.endQuoteDesig {
		margin-top: 1.7vw;
	}
	.linksBox {
		margin-bottom: 4vw;
		width: 230px;
		margin-right: 1vw;
	}
  .blob1,
  .blob2,
  .blob3,
  .blob4,
  .blob5,
  .blob6,
	.coin1,
	.coin2,
	.coin3,
	.coin4,
	.coin5,
	.coin6,
	.coin7,
	.coin8,
	.coin9,
	.coin10,
	.coin11,
	.coin11b,
	.coin12,
	.coin13,
	.coin14,
	.coin15,
	.coin16,
	.coin17,
	.coin18,
	.coin19 {
    display: none;
  }

  .footer {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .footerLinks {
    margin-bottom: 24px;
    flex-direction: column;
  }
  .footerLinks a {
    margin-bottom: 24px;
  }
}
