.wrapper {
  background: #13181e;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  padding: 40px 64px 0px 64px;
}

.headerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  width: 160px;
  height: 60px;
  margin-right: 20px;
}

.headerMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 40px;
}

.headerLinks a {
  color: white;
  padding: 16px;
  display: inline-block;
  font-family: Oxygen;
}

.headerMenuIcon {
  float: right;
  position: absolute;
  top: 44px;
  right: 44px;
  display: none;
}

.row {
  max-width: 900px;
  text-align: center;
}

.vl {
  margin-top: 10px;
  opacity: 0.3;
  border-left: 1px solid #e5e5e5;
  height: 20px;
}

.image {
  position: absolute;
  top: 0px;
  z-index: -1;
}

.title {
  display: flex;
  margin-top: 26vw;
  margin-left: 31vw;
  font-size: 64px;
  font-weight: 700;
}

.content {
  display: flex;
  margin-top: 0vw;
  margin-left: 31vw;
  font-size: 32px;
  font-weight: 400;
}

.content1 {
  display: flex;
  margin-top: 0vw;
  margin-left: 31vw;
  font-size: 24px;
  font-weight: 400;
}

.content2 {
  display: flex;
  align-items: center;
  margin-top: 1.4vw;
  margin-left: 31vw;
  margin-right: 28vw;
  font-size: 18px;
  font-weight: 400;
}

.content3 {
  display: flex;
  margin-top: 1.1vw;
  margin-left: 31vw;
  margin-right: 28vw;
  font-size: 18px;
  font-weight: 400;
}

.content4 {
  display: flex;
  margin-top: 4vw;
  margin-left: 31vw;
  font-size: 32px;
  font-weight: 400;
}

.cardContainer {
  margin-top: 50px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 329px;
  background-color: #1a2028;
  padding: 40px 80px;
  border-radius: 24px;
}

.card1a {
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
}

.card1a1 {
  width: 50%;
  margin-right: 2vw;
}

.card1a2 {
  width: 50%;
  margin-right: 2vw;
  margin-left: 3vw;
}
.card1b {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: row;
}

.card1b1 {
  margin-right: 2vw;
}

.card1b2 {
  margin-top: 0.3vw;
  margin-left: 0.6vw;
  font-size: 12px;
}

.cardTech {
  margin-right: 1vw;
  margin-bottom: 1vw;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 149px;
  height: 35px;
  background-color: #28313c;
  padding: 10px 20px;
  border-radius: 8px;
}

.hr {
  margin-top: 2vw;
  border-top: 1px solid #28313c;
  width: 780px;
}

.cardTitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400px;
}
.cardBody {
  font-size: 18px;
  font-weight: 400px;
}

.joinGitopia {
  font: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}
.endCardmargin {
  margin-top: 2.7vw;
}
.endCard {
  font-size: 18px;
  font-weight: 400;
}
.cardButton {
  font-weight: 700;
  font-size: 14px;
  width: 12.1vw;
  height: 2vw;
}

.footer {
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  height: 160px;
  width: 240px;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
}

.footerLinks a {
  border-left: 2px solid #91a3b4;
  color: white;
  padding: 0 16px;
  margin-right: 16px;
}
@media (max-width: 1800px) {
  .image {
    position: absolute;
    top: 1vw;
    z-index: -1;
  }
  .joinGitopia {
    font: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
  }
  .endCard {
    font-size: 18px;
    font-weight: 400;
  }
  .cardButton {
    font-weight: 700;
    font-size: 14px;
    width: 16vw;
    height: 3vw;
  }
}
@media (max-width: 1024px) {
  .headerMenuIcon {
    display: block;
  }
  .headerMenu {
    height: auto;
    border-bottom: none;
  }
  .header {
    display: block;
    padding: 40px 44px;
  }
  .row {
    text-align: left;
    padding: 0 44px;
    width: 100%;
  }
  .image {
    position: absolute;
    top: 4vw;
    z-index: -1;
  }
  .title {
    display: flex;
    margin-top: 26vw;
    margin-left: 14vw;
    font-size: 54px;
    font-weight: 700;
  }

  .content {
    display: flex;
    margin-top: 0vw;
    margin-left: 13vw;
    font-size: 27px;
    font-weight: 400;
  }

  .content1 {
    display: flex;
    margin-top: 0vw;
    margin-left: 13vw;
    font-size: 20px;
    font-weight: 400;
  }

  .content2 {
    display: flex;
    align-items: center;
    margin-top: 1.7vw;
    margin-left: 13vw;
    margin-right: 14vw;
    font-size: 16px;
    font-weight: 400;
  }

  .content3 {
    display: flex;
    margin-top: 1.1vw;
    margin-left: 14vw;
    margin-right: 14vw;
    font-size: 16px;
    font-weight: 400;
  }

  .cardContainer {
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card1 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 83vw;
    height: auto;
    min-height: 23vw;
    background-color: #1a2028;
    padding: 4vw 8vw;
    border-radius: 24px;
  }
  .hr {
    margin-top: 2vw;
    border-top: 1px solid #28313c;
    width: 66vw;
  }

  .card1b {
    margin-top: 2.3vw;
    display: flex;
    flex-direction: row;
  }

  .joinGitopia {
    font: 32px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
  }
  .endCard {
    font-size: 18px;
    font-weight: 400;
  }
  .endCardmargin {
    margin-top: 5.3vw;
  }
  .cardButton {
    font-weight: 700;
    font-size: 14px;
    width: 23vw;
    height: 5.1vw;
  }

  .cards {
    width: 100vw;
  }

  .footer {
    margin-top: 45px;
    padding: 50px;
    flex-direction: column;
  }
  .footerLinks {
    margin-bottom: 50px;
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .image {
    position: absolute;
    top: 15vw;
    z-index: -1;
  }
  .title {
    display: flex;
    margin-top: 26vw;
    margin-left: 15vw;
    font-size: 44px;
    font-weight: 700;
  }

  .content {
    display: flex;
    margin-top: 0vw;
    margin-left: 15vw;
    font-size: 26px;
    font-weight: 400;
  }

  .content1 {
    display: flex;
    margin-top: 0vw;
    margin-left: 15vw;
    font-size: 20px;
    font-weight: 400;
  }

  .content2 {
    display: flex;
    align-items: center;
    margin-top: 3vw;
    margin-left: 15vw;
    margin-right: 8vw;
    font-size: 16px;
    font-weight: 400;
  }

  .content3 {
    display: flex;
    margin-top: 1.2vw;
    margin-left: 15vw;
    margin-right: 8vw;
    font-size: 16px;
    font-weight: 400;
  }

  .card1 {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vw;
    background-color: #1a2028;
    padding: 3vw 3vw;
    border-radius: 24px;
  }

  .card1a {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
  }

  .card1a1 {
    width: 50vw;
    margin-right: 2vw;
  }

  .card1a2 {
    margin-right: 2vw;
    margin-left: 0vw;
    margin-top: 5vw;
  }
  .card1b {
    margin-top: 1.5vw;
    display: flex;
    flex-direction: row;
  }

  .card1b1 {
    margin-right: 0.5vw;
  }

  .card1b2 {
    margin-top: 0.3vw;
    margin-left: 0.6vw;
    font-size: 10px;
  }

  .cardTech {
    margin-right: 2vw;
    margin-bottom: 2vw;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 7vw;
    background-color: #28313c;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .hr {
    margin-top: 4vw;
    border-top: 1px solid #28313c;
    width: 60vw;
  }

  .cardTitle {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400px;
  }

  .cardLogo {
    margin-right: 10px;
  }
  .endCard {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  .endCardmargin {
    margin-top: 2vw;
  }
  .cardButton {
    margin-left: 70px;
    height: 10vw;
    width: 40vw;
  }

  .cards {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .footer {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: column;
  }
  .footerLinks {
    margin-bottom: 24px;
    flex-direction: column;
  }

  .footerLinks a {
    margin-bottom: 24px;
  }
}
