@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

.h1 {
  font-size: 80px;
  line-height: 1.142em;
  font-weight: 700;
  font-family: "Oxygen";
}

.a {
  font-family: "Oxygen";
}

.header {
  background-color: #19072f;
  padding-right: 25%;
  padding-top: 20%;
  padding-bottom: 100px;
  text-align: center;
  font-size: 90px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.boxed {
  font-family: "Oxygen";
  height: 550px;
  width: 93%;
  background-color: #ffffff;
}

.boxed1 {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 100px;
  width: 260px;
  background-color: #883be6;
}

.boxed1a {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 260px;
  background: linear-gradient(
    to right,
    #a262eb 0% 25%,
    #ba89f1 25% 50%,
    #d1b1f5 50% 75%,
    #e8d7fb 75% 100%,
    #e8d7fb 100%
  );
  margin-top: 10px;
}

.boxed2 {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 100px;
  width: 260px;
  background-color: #e83d99;
}

.boxed2a {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 260px;
  background: linear-gradient(
    to right,
    #f064ae 0% 25%,
    #f48ac2 25% 50%,
    #f9b1d6 50% 75%,
    #fbd7eb 75% 100%,
    #fbd7eb 100%
  );
  margin-top: 10px;
}

.boxed3 {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 100px;
  width: 260px;
  background-color: #63d761;
}

.boxed3a {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 260px;
  background: linear-gradient(
    to right,
    #80d885 0% 25%,
    #a1e1a5 25% 50%,
    #c0ebc1 50% 75%,
    #dff5e2 75% 100%,
    #dff5e2 100%
  );
  margin-top: 10px;
}

.boxed4 {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 100px;
  width: 200px;
  background-color: #041b2d;
}

.boxed4a {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 200px;
  background: linear-gradient(
    to right,
    #041b2d 0% 25%,
    #393939 25% 50%,
    #9c9c9c 50% 75%,
    #cecece 75% 100%,
    #cecece 100%
  );
  margin-top: 10px;
}

.boxed5 {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 60px;
  width: 50px;
  background-color: #cbd4dd;
  margin-left: 10px;
}

.boxed5a {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 60px;
  width: 50px;
  background-color: #91a3b4;
  margin-top: 10px;
  margin-left: 10px;
}

.boxed6 {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 565px;
  background: linear-gradient(to right, #992e82 0%, #612adb 100%);
  margin-top: 10px;
  margin-left: 45px;
}

.boxed7 {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 565px;
  background: linear-gradient(to right, #ffffff 0%, #d0d0d0 100%);
  margin-top: 10px;
  margin-left: 45px;
}

.boxed6a {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 48px;
  background-color: #992e82;
  margin-left: 45px;
}

.boxed6b {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 48px;
  background-color: #612adb;
  margin-left: 10px;
}

.boxed7a {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 48px;
  margin-left: 45px;
}

.boxed7b {
  font-family: "Oxygen";
  border-radius: 10px;
  height: 20px;
  width: 48px;
  background-color: #d0d0d0;
  margin-left: 10px;
}
