/* @font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Light"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: SegoeUI;
  src:
      local("Segoe UI Semilight"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),
      url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");
  font-weight: 200;
} */

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Semibold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: SegoeUI;
  src: local("Segoe UI Bold"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format("woff2"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format("woff"),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format("truetype");
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "SegoeUI", sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
  color: #66ce67;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----- bar-of-progress ----- */
.bar-of-progress {
  z-index: 50;
}

/* ----- react-mde ----- */
.mde-header {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  background: transparent;
}
.mde-header .mde-tabs {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.mde-header .mde-tabs button {
  margin: 0px 3px;
  padding: 0px 6px;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  outline: none;
}
.mde-header .mde-tabs button:first-child {
  margin-left: 0px;
}
.mde-header .mde-tabs button.selected {
  color: white;
  border-bottom: 2px solid #33ab34;
}
.mde-header .svg-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  vertical-align: -0.125em;
}
.mde-header ul.mde-header-group {
  margin: 0;
  padding: 6px;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}
.mde-header ul.mde-header-group.hidden {
  visibility: hidden;
}
.mde-header ul.mde-header-group li.mde-header-item {
  display: inline-block;
  position: relative;
  margin: 0 4px;
}
.mde-header ul.mde-header-group li.mde-header-item button {
  text-align: left;
  cursor: pointer;
  height: 22px;
  padding: 4px;
  margin: 0;
  border: none;
  background: none;
  color: #e2ebf1;
}

@keyframes tooltip-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mde-header
  ul.mde-header-group
  li.mde-header-item
  button.tooltipped:hover::before {
  animation-name: tooltip-appear;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  z-index: 1000001;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent;
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8);
}
.mde-header
  ul.mde-header-group
  li.mde-header-item
  button.tooltipped:hover::after {
  animation-name: tooltip-appear;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  font-size: 11px;
  opacity: 0;
  position: absolute;
  z-index: 1000000;
  padding: 5px 8px;
  color: #fff;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  right: 50%;
  bottom: 100%;
  transform: translateX(50%);
  margin-bottom: 5px;
  white-space: nowrap;
}

.mde-textarea-wrapper {
  position: relative;
}
.mde-textarea-wrapper textarea.mde-text {
  width: 100%;
  border: 0;
  padding: 10px;
  vertical-align: top;
  resize: vertical;
  overflow-y: auto;
  color: white;
  background: transparent;
  border: 1px solid #c8ccd030;
}

.react-mde * {
  box-sizing: border-box;
}
.react-mde .invisible {
  display: none;
}
.react-mde .image-tip {
  user-select: none;
  display: flex !important;
  padding: 7px 10px;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  color: gray;
  background-color: #f9f9f9;
  border-top: 1px solid #c8ccd0;
  position: relative;
}
.react-mde .image-tip .image-input {
  min-height: 0;
  opacity: 0.01;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  cursor: pointer;
}

ul.mde-suggestions {
  position: absolute;
  min-width: 180px;
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  cursor: pointer;
  background: #fff;
  border: 1px solid #c8ccd0;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15);
}
ul.mde-suggestions li {
  padding: 4px 8px;
  border-bottom: 1px solid #e1e4e8;
}
ul.mde-suggestions li:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
ul.mde-suggestions li:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
ul.mde-suggestions li:hover,
ul.mde-suggestions li[aria-selected="true"] {
  color: white;
  background-color: #0366d6;
}

/* ----- react-markdown ----- */
.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-body .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.markdown-body .anchor:focus {
  outline: none;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
  text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-body h1:hover .anchor .octicon-link:before,
.markdown-body h2:hover .anchor .octicon-link:before,
.markdown-body h3:hover .anchor .octicon-link:before,
.markdown-body h4:hover .anchor .octicon-link:before,
.markdown-body h5:hover .anchor .octicon-link:before,
.markdown-body h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}
.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #e2ebf2;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-body details {
  display: block;
}

.markdown-body summary {
  display: list-item;
}

.markdown-body a {
  background-color: initial;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdown-body img {
  border-style: none;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-body hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.markdown-body input {
  font: inherit;
  margin: 0;
}

.markdown-body input {
  overflow: visible;
}

.markdown-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-body * {
  box-sizing: border-box;
}

.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-body a {
  color: #0366d6;
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body strong {
  font-weight: 600;
}

.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.markdown-body hr:after,
.markdown-body hr:before {
  display: table;
  content: "";
}

.markdown-body hr:after {
  clear: both;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body details summary {
  cursor: pointer;
}

.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body h1 {
  font-size: 32px;
}

.markdown-body h1,
.markdown-body h2 {
  font-weight: 600;
}

.markdown-body h2 {
  font-size: 24px;
}

.markdown-body h3 {
  font-size: 20px;
}

.markdown-body h3,
.markdown-body h4 {
  font-weight: 600;
}

.markdown-body h4 {
  font-size: 16px;
}

.markdown-body h5 {
  font-size: 14px;
}

.markdown-body h5,
.markdown-body h6 {
  font-weight: 600;
}

.markdown-body h6 {
  font-size: 12px;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body blockquote {
  margin: 0;
}

.markdown-body ol,
.markdown-body ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body code,
.markdown-body pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown-body :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown-body .border {
  border: 1px solid #e1e4e8 !important;
}

.markdown-body .border-0 {
  border: 0 !important;
}

.markdown-body .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}

.markdown-body .rounded-1 {
  border-radius: 3px !important;
}

.markdown-body .bg-white {
  background-color: #fff !important;
}

.markdown-body .bg-gray-light {
  background-color: #fafbfc !important;
}

.markdown-body .text-gray-light {
  color: #6a737d !important;
}

.markdown-body .mb-0 {
  margin-bottom: 0 !important;
}

.markdown-body .my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.markdown-body .pl-0 {
  padding-left: 0 !important;
}

.markdown-body .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.markdown-body .pl-1 {
  padding-left: 4px !important;
}

.markdown-body .pl-2 {
  padding-left: 8px !important;
}

.markdown-body .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.markdown-body .pl-3,
.markdown-body .px-3 {
  padding-left: 16px !important;
}

.markdown-body .px-3 {
  padding-right: 16px !important;
}

.markdown-body .pl-4 {
  padding-left: 24px !important;
}

.markdown-body .pl-5 {
  padding-left: 32px !important;
}

.markdown-body .pl-6 {
  padding-left: 40px !important;
}

.markdown-body .f6 {
  font-size: 12px !important;
}

.markdown-body .lh-condensed {
  line-height: 1.25 !important;
}

.markdown-body .text-bold {
  font-weight: 600 !important;
}

.markdown-body .mb-0 {
  margin-bottom: 0 !important;
}

.markdown-body .my-2 {
  margin-bottom: 8px !important;
}

.markdown-body .my-2 {
  margin-top: 8px !important;
}

.markdown-body .pl-0 {
  padding-left: 0 !important;
}

.markdown-body .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.markdown-body .pl-1 {
  padding-left: 4px !important;
}

.markdown-body .pl-2 {
  padding-left: 8px !important;
}

.markdown-body .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.markdown-body .pl-3 {
  padding-left: 16px !important;
}

.markdown-body .pl-4 {
  padding-left: 24px !important;
}

.markdown-body .pl-5 {
  padding-left: 32px !important;
}

.markdown-body .pl-6 {
  padding-left: 40px !important;
}

.markdown-body .pl-7 {
  padding-left: 48px !important;
}

.markdown-body .pl-8 {
  padding-left: 64px !important;
}

.markdown-body .pl-9 {
  padding-left: 80px !important;
}

.markdown-body .pl-10 {
  padding-left: 96px !important;
}

.markdown-body .pl-11 {
  padding-left: 112px !important;
}

.markdown-body .pl-12 {
  padding-left: 128px !important;
}

.markdown-body hr {
  border-bottom-color: #1f242d;
}

.markdown-body:after,
.markdown-body:before {
  display: table;
  content: "";
}

.markdown-body:after {
  clear: both;
}

.markdown-body > :first-child {
  margin-top: 0 !important;
}

.markdown-body > :last-child {
  margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #1f242d;
  border: 0;
}

.markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #1f242d;
}

.markdown-body blockquote > :first-child {
  margin-top: 0;
}

.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1 {
  font-size: 2em;
}

.markdown-body h1,
.markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #1f242d;
}

.markdown-body h2 {
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: 0.875em;
}

.markdown-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body li {
  word-wrap: break-all;
}

.markdown-body li > p {
  margin-top: 16px;
}

.markdown-body li + li {
  margin-top: 0.25em;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.markdown-body pre {
  word-wrap: normal;
}

.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #1a2028;
  border-radius: 3px;
}

.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

/* ----- diff-viewer ----- */
:root {
  --diff-background-color: transparent;
  --diff-text-color: #e2ebf2;
  --diff-font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  --diff-selection-background-color: #b3d7ff;
  --diff-gutter-normal-color: #28313c;
  --diff-gutter-insert-background-color: #3fb9504d;
  --diff-gutter-delete-background-color: #f851494d;
  --diff-gutter-selected-background-color: #fffce0;
  --diff-code-insert-background-color: #2ea04326;
  --diff-code-delete-background-color: #f8514926;
  --diff-code-insert-edit-background-color: #c0dc91;
  --diff-code-delete-edit-background-color: #f39ea2;
  --diff-code-selected-background-color: #fffce0;
  --diff-omit-gutter-line-color: #cb2a1d;
  color-scheme: dark;
}
.diff {
  background-color: initial;
  background-color: var(--diff-background-color);
  color: initial;
  color: var(--diff-text-color);
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
.diff::-moz-selection {
  background-color: #b3d7ff;
  background-color: var(--diff-selection-background-color);
}
.diff::selection {
  background-color: #b3d7ff;
  background-color: var(--diff-selection-background-color);
}
.diff td {
  vertical-align: top;
  padding-top: 0;
  padding-bottom: 0;
}
.diff-line {
  line-height: 1.5;
  font-family: Consolas, Courier, monospace;
  font-family: var(--diff-font-family);
}
.diff-gutter > a {
  color: inherit;
  display: block;
}
.diff-gutter {
  padding: 0 1ch;
  text-align: right;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.diff-gutter-normal {
  color: var(--diff-gutter-normal-color);
}
.diff-gutter-insert {
  background-color: #d6fedb;
  background-color: var(--diff-gutter-insert-background-color);
}
.diff-gutter-delete {
  background-color: #fadde0;
  background-color: var(--diff-gutter-delete-background-color);
}
.diff-gutter-omit {
  cursor: default;
}
.diff-gutter-selected {
  background-color: #fffce0;
  background-color: var(--diff-gutter-selected-background-color);
}
.diff-code {
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0 0 0 0.5em;
}
.diff-code-edit {
  display: inline-block;
  color: inherit;
}
.diff-code-insert {
  background-color: #eaffee;
  background-color: var(--diff-code-insert-background-color);
}
.diff-code-insert .diff-code-edit {
  background-color: #c0dc91;
  background-color: var(--diff-code-insert-edit-background-color);
}
.diff-code-delete {
  background-color: #fdeff0;
  background-color: var(--diff-code-delete-background-color);
}
.diff-code-delete .diff-code-edit {
  background-color: #f39ea2;
  background-color: var(--diff-code-delete-edit-background-color);
}
.diff-code-selected {
  background-color: #fffce0;
  background-color: var(--diff-code-selected-background-color);
}
.diff-widget-content {
  vertical-align: top;
}
.diff-gutter-col {
  width: 7ch;
}
.diff-gutter-omit {
  height: 0;
}
.diff-gutter-omit:before {
  content: " ";
  display: block;
  white-space: pre;
  width: 2px;
  height: 100%;
  margin-left: 4.6ch;
  overflow: hidden;
  background-color: #cb2a1d;
  background-color: var(--diff-omit-gutter-line-color);
}
.diff-decoration {
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.diff-decoration-content {
  font-family: Consolas, Courier, monospace;
  font-family: var(--diff-font-family);
  padding: 0;
}

/* ----- tailwind + daisyui custom styling ----- */
.tooltip:before {
  font-size: 0.75rem;
}

.tab.tab-bordered {
  border-bottom-width: 2px;
  border-color: transparent;
}

.tab.tab-active .icon {
  color: #33ab34;
}

.tab.tab-bordered.tab-active {
  border-color: #33ab34;
  border-bottom-width: 2px;
}

.tab.tab-active-alt {
  color: hsla(var(--bc));
}

.tab-md,
.tab-lg {
  height: auto;
  padding-top: calc(var(--tab-padding, 1rem) / 2);
  padding-bottom: calc(var(--tab-padding, 1rem) / 2);
}

.tab-lifted.tab-active:last-child:after {
  background-image: var(--tab-corner-bg);
}

.menu li.bordered a,
.menu li.bordered span {
  border-left-width: 2px;
}

.react-calendar-heatmap .color-gitopia-empty {
  fill: #2d3845;
}
.react-calendar-heatmap .color-gitopia-low {
  fill: #29b7e4;
}
.react-calendar-heatmap .color-gitopia-high {
  fill: #66ce67;
}
.react-calendar-heatmap g.react-calendar-heatmap-all-weeks {
  transform: translate(30px, 18px);
}
.react-calendar-heatmap g.react-calendar-heatmap-weekday-labels {
  transform: translate(0px, 18px);
}
