@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

@keyframes float-planet {
  0% {
    transform: translate(0%, 0%);
  }
   50% {
    transform: translate(30%, 30%);
  } 
   100% {
    transform: translate(0%, 0%);
  } 
}

@keyframes float-car {
  0% {
    transform: translate(0%, 0%);
  }
   50% {
    transform: translate(30%, -30%);
  } 
   100% {
    transform: translate(0%, 0%);
  } 
}

@keyframes float-people {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-20%, 20%);
  } 
   100% {
    transform: translate(0%, 0%);
  } 
}

@keyframes float-moon {
  0% {
    transform: translate(0%, 0%);
  }
   50% {
    transform: translate(-10%, -10%);
  } 
   100% {
    transform: translate(0%, 0%);
  } 
}


.fadeInDown {
  transform: translateY(80px);
  transition: opacity 0.6s ease-out, transform 3s ease-out;
  visibility: hidden;
  will-change: opacity, visibility;
  opacity: 0;
}
.fadeInDown2 {
  transform: translateY(80px);
  transition: opacity 0.6s ease-out, transform 6s ease-out;
  visibility: hidden;
  will-change: opacity, visibility;
  opacity: 0;
}
.isVisible {
  transform: none;
  visibility: visible;
  opacity: 1;
}
.planet {
  animation: float-planet 40s infinite;
}

.car {
  animation: float-car 20s infinite;
}

.people {
  animation: float-people 50s infinite;
}

.moon {
  animation: float-moon 18s infinite;
}

.wrapper {
  font-family: "Oxygen";
  background: #13181e;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #e2ebf2;
}

.header {
  display: flex;
  padding: 40px 64px;
}

.headerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  width: 160px;
  height: 60px;
  margin-right: 20px;
}

.headerMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 40px;
}

.headerLinks a {
  color: white;
  padding: 16px;
  display: inline-block;
  font-family: Oxygen;
}

.headerMenuIcon {
  float: right;
  position: absolute;
  top: 44px;
  right: 44px;
  display: none;
}

.vl {
  margin-top: 10px;
  opacity: 0.3;
  border-left: 1px solid #e5e5e5;
  height: 20px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heroSection {
  min-height: 800px;
  position: relative;
  z-index: 2;
  margin-bottom: 120px;
}

.topHeading {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #66ce67;
  margin-bottom: 20px;
}

.row {
  max-width: 900px;
  text-align: center;
  margin-bottom: 20px;
}

.rowLeftAligned {
  width: 950px;
  text-align: left;
  align-items: center;
  position: relative;
  z-index: 1;
}

.h1 {
  font-size: 56px;
  line-height: 1.142em;
  font-weight: 700;
  color: #ffffff;
}

.h3 {
  font-size: 48px;
  line-height: 1.142em;
  font-weight: 700;
  color: #ffffff;
}

.b16 {
  font-size: 16px;
  line-height: 150%;
  margin: 0px auto;
  width:606px;
}

.b18 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 700;
}

.l12 {
  font-size: 12px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #883be6;
}

.byline {
  margin-top: 34px;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 150%;
  font-weight: 400;
  max-width: 696px;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.primaryCTA {
  width: 430px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.secondaryCTA {
  background: #883be6;
  width: 188px;
  height: 40px;
  font-weight: 700;
}

.hlHorizontal {
  position: relative;
}

.hlHorizontal:after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: calc(50% - 52px);
  width: 104px;
  border-bottom: 2px solid #66ce67;
}

.hlVertical {
  display: flex;
  text-align: left;
  align-items: center;
}

.hlVertical:before {
  content: "";
  height: 40px;
  border-left: 2px solid #66ce67;
  margin-right: 16px;
}

.leftAligned {
  text-align: left;
  align-items: flex-start;
}

.circleSection {
  min-height: 620px;
  position: relative;
  z-index: 1;
}

.circleSectionEllipse {
  top: -10vw;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 45vw;
}

.circleSectionDesc {
  margin-top: 96px;
}

.circleSectionLink {
  font-size: 12px;
  line-height: 150%;
  margin-top: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.circleSectionLink a {
  color: #66ce67;
}

.platformCirclesWrapper {
  position: relative;
  z-index: -1;
  pointer-events: none;
  height: 0;
  transform-origin: 0 0;
  white-space: nowrap;
}
.platformCircles {
  transition: transform 0.1s linear;
  will-change: transform;
  display: inline;
}

.collaborationBenefitsSection {
  margin-top: 170px;
  margin-bottom: 160px;
}

.collaborationsBenefitsCard1 {
  margin-top: 30px;
  margin-right: 80px;
}

.collaborationsBenefitsCard1Title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100.27%;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 327px;
}

.benefitsCard1Title {
  font-weight: 700;
  font-size: 32px;
  line-height: 113.27%;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 278px;
}

.collaborationsBenefitsCard1Body {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  width: 418px;
  margin-top: 25px;
  margin-bottom: 35px;
  opacity: 0.9;
}

.collaborationsBenefitsCard1Button {
  margin-top: 80px;
  width: 318px;
  display: flex;
  justify-content: left;
  text-align: center;
}

.collaborationsBenefitsCard2Title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100.27%;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-top: 30px;
}

.collaborationsBenefitsCard2Body {
  margin-top: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: #ffffff;
  opacity: 0.9;
  width: 215px;
}

.storageSection {
  min-height: 800px;
}

.storageAnim {
  display: flex;
  width: 100%;
  margin-top: 100px;
  justify-content: center;
}

.storageAnimSource {
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  border-right: 2px solid #613ac2;
}

.storageCircle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 2px solid #37264c;
  background: #13181e;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
}
.storageCircleContent1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffab2e;
}
.storageCircleContent2 {
  width: 12px;
  height: 12px;
  background: #883be6;
}
.storageCircleContent3 {
  width: 0px;
  height: 0px;
  border: 8px solid transparent;
  border-top: 12px solid #66ce67;
  margin-top: 12px;
}

.storageAnimSourceLane {
  height: 25%;
  width: 100%;
  border-bottom: 1px dashed rgba(131, 131, 131, 0.3);
  display: flex;
  align-items: center;
  position: relative;
}
.storageAnimSourceLane:first-of-type {
  border-top: 1px dashed rgba(131, 131, 131, 0.3);
}
.storageAnimBarrier {
  width: 30px;
}
.storageAnimBarrierCircle {
  width: 180px;
  height: 180px;
  position: relative;
  top: 80px;
  left: -90px;
  border-radius: 50%;
  border: 2px solid #613ac2;
  background: url("/logo-g.svg") no-repeat, #13181e;
  background-size: 120px;
  background-position: 50% 50%;
}

.storageAnimSink {
  width: 330px;
  height: 340px;
  margin-right: 40px;
  background: url("/landing-storage.svg") no-repeat;
  background-size: 330px;
  background-blend-mode: color-dodge, normal;
  background-position: 0px;
  mask-image: url("/landing-storage-mask.svg");
  mask-size: 330px;
}

.storageAnimSinkFlash {
  width: 80px;
  height: 340px;
  background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    )
    no-repeat;
  animation: flash 2s ease-in-out 2s infinite;
}

.storageSectionDecentralization {
  margin-top: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #91a3b4;
}

.storageSectionMessage {
  background: rgba(255, 233, 253, 0.05);
  font-weight: 700;
  font-size: 12px;
  line-height: 114.27%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.storagePlatforms {
  width: 190px;
  height: 65px;
  background: #222933;
  border-radius: 17px;
  font-size: 24px;
}
.storagePlatformsImage {
  width: 40px;
  height: 30px;
}

.storagePlatformsImg {
  width: 152.5px;
  height: 65.5px;
}

@keyframes flash {
  from {
    transform: translateX(-350px);
  }

  to {
    transform: translateX(350px);
  }
}

.decentralizedSection {
  min-height: 720px;
  background: linear-gradient(
    180deg,
    rgba(255, 233, 253, 0.05) 14.6%,
    rgba(179, 120, 173, 0) 100%
  );
}

.smallRow {
  width: 512px;
  text-align: left;
  align-items: flex-start;
}

.decentralizedImage {
  position: absolute;
  bottom: -150px;
  width: 800px;
  height: 536px;
  z-index: -1;
  right: 25px;
}

.decentralizedDesc {
  width: 383px;
  margin-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 160.06%;
  letter-spacing: 0.07em;
}

.mb36 {
  margin-bottom: 36px;
}

.mt36 {
  margin-top: 36px;
}

.mb72 {
  margin-bottom: 72px;
  width: 400px;
}

.midLogo {
  width: 180px;
  height: 130px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-image: url("/logo-g.svg");
  background-repeat: no-repeat;
  background-size: 120px 216px;
  background-position: 50%;
  background-color: rgba(255, 233, 253, 0.05);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.midLogo:before,
.midLogo:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -5px;
}

.midLogo:after {
  right: -15px;

  background: #13181e
    radial-gradient(
      circle at right top,
      rgba(0, 0, 0, 0) calc(55% - 1px),
      rgba(255, 233, 253, 0.05) calc(55% - 1px + 0.3px),
      rgba(255, 233, 253, 0.05) calc(55% - 1px + 5px),
      rgba(255, 233, 253, 0.05) calc(55% - 1px + 5px + 0.3px),
      rgba(255, 233, 253, 0.05) 100%
    )
    repeat scroll 0% 0% / auto padding-box border-box;
}

.midLogo::before {
  left: -15px;
  background: #13181e
    radial-gradient(
      circle at left top,
      rgba(0, 0, 0, 0) calc(55% - 1px),
      rgba(255, 233, 253, 0.05) calc(55% - 1px + 0.3px),
      rgba(255, 233, 253, 0.05) calc(55% - 1px + 5px),
      rgba(255, 233, 253, 0.05) calc(55% - 1px + 5px + 0.3px),
      rgba(255, 233, 253, 0.05) 100%
    )
    repeat scroll 0% 0% / auto padding-box border-box;
}

.transitionSection {
  border-bottom: 5px solid rgba(136, 59, 230, 1);
}

.transitionRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 800px;
}

.mr100 {
  margin-right: 100px;
}

.rowQuote {
  max-width: 350px;
  text-align: left;
  margin-right: 50px;
}

.hlBorder {
  position: relative;
  padding-left: 18px;
}

.hlBorder:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  height: 40px;
  border-left: 2px solid #66ce67;
}

.openSource {
  margin-top: 150px;
  width: 460px;
  height: 621px;
  background: #222933;
  border-radius: 31px;
  align-items: left;
  padding: 30px;
}

.openSourceTitle {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 366px;
}

.openSourceDescription {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 387px;
  font-weight: 400;
  font-size: 16px;
  line-height: 154.27%;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.ml16 {
  margin-left: 16px;
}

.getStarted {
  margin-top: 100px;
}

.getStartedDes {
  text-align: center;
  width: 800px;
  margin-bottom: 50px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.censorship {
  margin-right: 450px;
  margin-top: 60px;
}

.censorshipResistant {
  width: 241px;
  font-weight: 700;
  font-size: 32px;
  line-height: 113.27%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.censorshipDescription {
  width: 269px;
  font-size: 16px;
  line-height: 154.27%;
  letter-spacing: -0.02em;
}

.embrace {
  position: absolute;
  margin-left: 270px;
  margin-top: 60px;
}

.secure {
  margin-right: 20px;
  margin-top: 340px;
}

.secureLogin {
  width: 241px;
  font-weight: 700;
  font-size: 32px;
  line-height: 113.27%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.secureDescription {
  width: 280px;
  font-size: 16px;
  line-height: 154.27%;
  letter-spacing: -0.02em;
}

.teamCard {
  width: 350px;
  height: 450px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.bufferCard {
  height: 145px;
}

.teamImage {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.teamLabelContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.teamLabel {
  background: transparent;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 48px;
}

.teamName {
  text-align: center;
  font-size: 24px;
  line-height: 140%;
}

.teamDesig {
  padding-left: 16px;
  font-size: 18px;
}

.joining {
  margin-top: 350px;
  margin-left: 50px;
}

.footerContainer {
  margin-bottom: 50px;
}

.footer {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.footerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  height: 160px;
  width: 240px;
}


.footerTitle {
  margin-top: 60px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  font-feature-settings: "calt" off;
  color: #ffffff;
  opacity: 0.5;
}

.footerLinks {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "calt" off;
  color: #ffffff;
}

.divider {
  margin-top: 35px;
  opacity: 0.1;
  border-left: 1px solid #222933;
  width: 70%;
}

.footerEnd {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #5c6a77;
  justify-content: space-between;
  width: 70%;
  flex-direction: row;
}

@media (max-width: 1024px) {
  .planet {
    animation: 0s;
  }
  
  .car {
  animation: 0s;
  }
  
  .people {
    animation: 0s;
  }
  
  .moon {
    animation: 0s;
  }
  .headerLine {
    display: none;
  }
  .headerMenuIcon {
    display: block;
    right: 10px;
  }
  .headerMenu {
    height: 570px;
    border-bottom: none;
  }
  .header {
    display: block;
    padding: 40px 20px;
  }
  .row {
    padding-left: 0px;
    width: 370px;
  }
  .h1 {
    font-size: 40px;
  }

  .h3 {
    font-size: 36px;
  }

  .byline {
    font-size: 20px;
    max-width: none;
    position: relative;
    z-index: 1;
  }
  .hlHorizontal:after {
    left: 3px;
  }
  .b16 {
    max-width: none;
    width: auto;
  }
  .transitionRow {
    width: auto;
    flex-direction: column;
    height: 300px;
    padding: 0 44px;
    justify-content: space-between;
  }
  .rowQuote {
    text-align: center;
    margin-right: 0;
    order: -1;
  }
  .mr100 {
    margin-right: 0;
  }

  .storageAnimSource {
    width: 340px;
  }

  .storageAnimSink {
    margin-right: 0;
  }

  .rowLeftAligned {
    width: auto;
    padding: 0 44px;
  }
  .smallRow {
    width: auto;
  }
  .decentralizedSection {
    min-height: 820px;
  }
  .decentralizedImage {
    bottom: -300px;
  }
  .governanceSection,
  .censorshipSection {
    margin-top: 100px;
  }

  .collaborationsBenefitsCard1 {
    margin-right: 20px;
    margin-left: 20px;
  }

  .collaborationsBenefitsCard1Body {
    width: 360px;
  }
  .collaborationsBenefitsCard2Title {
    width: 200px;
  }
  .collaborationsBenefitsCard2Body {
    width: 180px;
    margin-right: 10px;
  }
  .openSource {
    width: 360px;
  }

  .openSourceTitle {
    width: 300px;
  }

  .openSourceDescription {
    width: 300px;
  }
  .censorship {
    margin-right: 350px;
  }

  .embrace {
    height: 400px;
    width: 400px;
    margin-left: 130px;
    margin-top: 10px;
  }

  .secure {
    margin-left: 380px;
    margin-top: 480px;
  }

  .teamImage {
    height: 300px;
    width: 350px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .teamCard {
    width: 300px;
    height: 400px;
    overflow: hidden;
  }

  .teamLabel {
    height: 40px;
    width: 300px;
  }

  .teamName {
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
  }
  .teamDesig {
    font-size: 12px;
  }
  .joining {
    margin-top: 280px;
  }
  .decentralizedDesc {
    width: 320px;
  }
  .footer {
    align-items: start;
    width: 100%;
  }
  .footerSection {
    margin-left: 30px;
  }
  .divider {
    width: 90%;
  }
  .footerEnd {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .headerLogo {
    background-size: 120px;
    width: 120px;
    height: 50px;
    margin-right: 20px;
  }
  .heroSection {
    min-height: 450px;
    margin-bottom: 0px;
  }
  .codeSection {
    margin-bottom: 30px;
  }
  .hlHorizontal:after {
    width: 150px;
    left: 30%;
  }
  .collaborationBenefitsSection {
    margin-top: 0px;
    margin-bottom: 60px;
  }
  .collaborationsBenefitsCard1 {
   
  }
  .collaborationsBenefitsCard1Title {
    margin-left: 10px;
    text-align: center;
    align-items: center;
  }

  .benefitsCard1Title {
    margin-top: 120px;
    margin-left: 0px;
    width: 343px;
    text-align: center;
    align-items: center;
  }

  .collaborationsBenefitsCard1Body {
    width: auto;
    text-align: center;
    align-items: center;
  }

  .collaborationsBenefitsCard1Button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .collaborationsBenefitsCard2Title {
    font-size: 28px;
    text-align: center;
    padding-right: 18px;
    margin-top: 20px;
  }

  .collaborationsBenefitsCard2Image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .collaborationsBenefitsCard2Body {
    margin: 20px;
    text-align: center;
    font-size: 13px;
    width: 80%;
  }
  .rowQuote {
    width: 400px;
  }
  .smallRow {
    width: 380px;
    text-align: center;
    align-items: center;
  }
  .storagePlatforms {
    width: 90px;
    height: 45px;
    font-size: 10px;
  }
  .storagePlatformsImage {
    width: 26px;
    height: 18px;
  }

  .storagePlatformsImg {
    width: 122.5px;
    height: 35.5px;
  }

  .storageSectionMessage {
    width: 40px;
  }

  .rowLeftAligned {
    width: auto;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    overflow-wrap: break-word;
  }
  .mb72 {
    width: 376px;
    margin-bottom: 40px;
  }
  .mb36 {
    width: 360px;
  }
  .decentralizedImage {
    display: none;
  }
  .decentralizedSection {
    min-height: 700px;
  }
  .midLogo {
    background-size: 100px 216px;
  }
  .openSource {
    margin-top: 0px;
    width: 354px;
    height: 477px;
    padding: 30px;
  }

  .openSourceTitle {
    font-size: 28px;
    width: 310px;
  }

  .openSourceDescription {
    width: 300px;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .getStartedDes {
    width: 310px;
  }
  .censorship {
    margin-left: 0;
    margin-right: 0;
    margin-top: 400px;
    text-align: center;
  }
  .censorshipResistant {
    width: 327px;
    margin-left: 6%;
  }
  .censorshipDescription {
    margin-top: 10px;
    margin-left: 4%;
    width: 344px;
  }
  .line {
    margin-left: 9%;
    margin-top: 40px;
    border-bottom: 1px solid #ffffff;
    opacity: 0.3;
    width: 307px;
  }
  .embrace {
    width: 300px;
    height: 300px;
    top: 120px;
    right: 30px;
  }
  .secure {
    margin-top: 40px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .secureLogin {
    width: 70%;
    margin-left: 18%;
  }
  .secureDescription {
    width: 270px;
    margin-left: 15%;
  }
  
  .joining {
    margin-left: 0px;
    margin-top: 240px;
  }

  .teamCard {
    width: 180px;
    height: 280px;
    overflow: hidden;
  }

  .teamLabel {
    height: 23px;
    width: 168px;
    top: 90%;
  }

  .teamName {
    font-size: 16px;
  }

  .bufferCard {
    height: 60px;
  }

  .h1 {
    font-size: 44px;
  }

  .h3 {
    font-size: 32px;
  }

  .byline {
    font-size: 14px;
    width: 370px;
  }

  .decentralizedDesc {
    width: 350px;
  }

  .primaryCTA {
    width: 100%;
    flex-direction: column;
  }

  .footerLogo {
    width: 203.02px;
    height: 68.72px;
    margin-bottom: 70px;
    margin-left: 20%;
  }

  .footerContainer {
    margin-bottom: 50px;
    margin-top: 70px;
  }

  .footer {
    margin-top: 0px;
    margin-bottom: 50px;
    flex-direction: column;
    width: 90%;
  }

  .footerSection {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    height: 90px;
    width: 340px;
  }

  .footerTitle {
    font-size: 14px;
    margin-top: 0px;
  }

  .divider {
    margin-top: 90px;
    width: 100%;
  }
  .footerEnd {
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
}

.codeSection {
  position: relative;
  z-index: 2;
  margin-top: 10px;
  margin-bottom: 300px;
  font-family: "SegoeUI";
}
