.wrapper {
  background: #13181e;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  padding: 40px 64px;
}

.headerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  width: 160px;
  height: 60px;
  margin-right: 20px;
}

.headerMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 40px;
}

.headerLinks a {
  color: white;
  padding: 16px;
  display: inline-block;
  font-family: Oxygen;
}

.headerMenuIcon {
  float: right;
  position: absolute;
  top: 44px;
  right: 44px;
  display: none;
}

.row {
  max-width: 900px;
  text-align: center;
}

.vl {
  margin-top: 10px;
  opacity: 0.3;
  border-left: 1px solid #e5e5e5;
  height: 20px;
}

.blob1 {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}

.blob2 {
  position: absolute;
  left: 0;
  top: 140vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}

.blob3 {
  position: absolute;
  left: 32vw;
  top: 18vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}

.blob4 {
  position: absolute;
  left: 11vw;
  top: 120vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}

.blob5 {
  position: absolute;
  right: 0;
  top: 22vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.blob6 {
  position: absolute;
  right: 0;
  top: 121vw;
  pointer-events: none;
  z-index: -1;
  opacity: 0.9;
}
.footer {
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLogo {
  background: url("/logo-white.svg") no-repeat;
  background-position: 50%;
  background-size: 160px;
  height: 160px;
  width: 240px;
}

.footerLinks {
  display: flex;
  justify-content: space-around;
}

.footerLinks a {
  border-left: 2px solid #91a3b4;
  color: white;
  padding: 0 16px;
  margin-right: 16px;
}

.circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 3px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
}

.image2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 1vw;
}

.image3 {
  margin-top: 16px;
  display: flex;
  margin-left: 200px;
  height: 500px;
  width: 500px;
}

.title {
  margin-top: 80px;
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.title2 {
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.title3 {
  display: flex;
  margin-top: 80px;
  margin-left: 27vw;
  font-size: 50px;
  font-weight: bold;
}

.title4 {
  display: flex;
  margin-left: 27vw;
  font-size: 50px;
  font-weight: bold;
}

.content {
  text-align: center;
}

.card {
  height: 90px;
  width: 600px;
  align-items: left;
  margin-left: 27vw;
  margin-right: 27vw;
}

.cardTitle {
  margin-left: 5px;
}

.cardBody {
  margin-left: 5px;
}

.hr {
  border-top: 1px solid #444b53;
  margin-left: 31.6vw;
  margin-right: 29vw;
  margin-bottom: 0.7vw;
}

.cardLogo {
  height: 6vw;
  width: 6vw;
}
@media (max-width: 1600px) {
  .blob2 {
    position: absolute;
    left: 0;
    top: 180vw;
    pointer-events: none;
    z-index: -1;
    opacity: 0.9;
  }

  .blob3 {
    position: absolute;
    left: 24vw;
    top: 19vw;
    pointer-events: none;
    z-index: -1;
    opacity: 0.9;
  }

  .blob4 {
    position: absolute;
    left: 8vw;
    top: 160vw;
    pointer-events: none;
    z-index: -1;
    opacity: 0.9;
  }

  .blob6 {
    position: absolute;
    right: 0;
    top: 155vw;
    pointer-events: none;
    z-index: -1;
    opacity: 0.9;
  }
}
@media (max-width: 1024px) {
  .headerMenuIcon {
    display: block;
  }
  .headerMenu {
    height: auto;
    border-bottom: none;
  }
  .header {
    display: block;
    padding: 40px 44px;
  }
  .row {
    text-align: left;
    padding: 0 44px;
    width: 100%;
  }

  .blob2 {
    position: absolute;
    left: 0;
    top: 255vw;
    pointer-events: none;
    z-index: -1;
    opacity: 0.9;
  }

  .blob3 {
    position: absolute;
    left: 15vw;
    top: 20vw;
    pointer-events: none;
    z-index: -1;
    opacity: 0.9;
  }

  .blob4 {
    position: absolute;
    left: 0vw;
    top: 240vw;
    pointer-events: none;
    z-index: -1;
    opacity: 0.9;
  }

  .blob6 {
    position: absolute;
    right: 0;
    top: 218vw;
    pointer-events: none;
    z-index: -1;
    opacity: 0.9;
  }

  .card {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 70vw;
    align-items: left;
    margin-left: 17vw;
    margin-right: 17vw;
  }

  .cardTitle {
    margin-left: 5px;
  }

  .cardBody {
    margin-left: 5px;
  }

  .hr {
    border-top: 1px solid #444b53;
    margin-left: 24.5vw;
    margin-right: 15vw;
    margin-bottom: 0.7vw;
  }

  .image3 {
    margin-top: 7vw;
    display: flex;
    margin-left: 3vw;
    height: 50vw;
    width: 50vw;
  }
  .joinGitopia {
    display: flex;
    flex-direction: row;
  }
  .cardLogo {
    height: 10vw;
    width: 10vw;
  }

  .cardButton {
    width: 25vw;
    height: 6vw;
  }

  .cards {
    width: 100vw;
  }

  .footer {
    margin-top: 50px;
    padding: 50px;
    flex-direction: column;
  }
  .footerLinks {
    margin-bottom: 50px;
    flex-direction: row;
  }
}

@media (max-width: 640px) {
  .card {
    display: flex;
    flex-direction: row;
    height: 10vx;
    width: 79vw;
    align-items: left;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .cardTitle {
    font-size: 15px;
  }

  .cardBody {
    font-size: 10px;
  }

  .hr {
    border-top: 1px solid #444b53;
    margin-left: 31vw;
    margin-right: 5vw;
    margin-bottom: 0.7vw;
  }
  .title {
    margin-left: 7vw;
    margin-top: 10vw;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .title2 {
    margin-left: 7vw;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .title3 {
    margin-left: 20vw;
    margin-top: 10vw;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .title4 {
    margin-left: 20vw;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }

  .content {
    text-align: center;
  }

  .image2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-top: 1vw;
  }

  .image3 {
    margin-right: 100px;
    height: 300px;
    width: 300px;
  }

  .working {
    margin-right: 0px;
    width: 300px;
  }

  .circle {
    border-radius: 50%;
    width: 6vw;
    height: 5vw;
    padding: 0.5vw;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;
  }

  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .cardLogo {
    margin-left: 0px;
    height: 20vw;
    width: 20vw;
  }

  .cardButton {
    margin-left: 50px;
    height: 10vw;
    width: 40vw;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer {
    margin-bottom: 0px;
    flex-direction: column;
  }
  .footerLinks {
    margin-bottom: 24px;
    flex-direction: column;
  }

  .footerLinks a {
    margin-bottom: 24px;
  }

  .blob1,
  .blob2,
  .blob3,
  .blob4,
  .blob5,
  .blob6 {
    display: none;
  }
}
